.dialogs {
  background-color: brown;
  height: 100%;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialogs_items {
    padding: 10px;
    a {
      text-decoration: none;
      color: gold;
    }
}

.messages {
   padding: 10px;
}

